<!DOCTYPE html>
html
    head
        meta(http-equiv='content-type',content='text/html charset=utf-8')
        meta(description='すき焼き pug/scss animationページです')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title すき焼き pug/scss animation
        link(href='css/sukiyaki.css', type='text/css', rel='stylesheet')
    body
        #container
            .SukiyakiPot
                .SukiyakiPot_head
                    .roux
                        .SukiyakiEntry
                            .SukiyakiEntry_item.ninjin.ninjin-1
                            .SukiyakiEntry_item.ninjin.ninjin-2
                            .SukiyakiEntry_item.ninjin.ninjin-3 
                            .SukiyakiEntry_item.Greenonions.Greenonions-1
                                .SukiyakiEntry_item_inner
                            .SukiyakiEntry_item.Greenonions.Greenonions-2
                                .SukiyakiEntry_item_inner          
                            .SukiyakiEntry_item.Greenonions.Greenonions-3
                                .SukiyakiEntry_item_inner
                            .SukiyakiEntry_item.Greenonions.Greenonions-4
                                .SukiyakiEntry_item_inner          
                            .SukiyakiEntry_item.Greenonions.Greenonions-5
                                .SukiyakiEntry_item_inner
                            .SukiyakiEntry_item.niku.niku-1
                            .SukiyakiEntry_item.niku.niku-2
                            .SukiyakiEntry_item.niku.niku-3
                            .SukiyakiEntry_item.tofu.tofu-1
                            .SukiyakiEntry_item.tofu.tofu-2
                            .SukiyakiEntry_item.tofu.tofu-3
                            .SukiyakiEntry_item.mushroom.mushroom-1
                                .mushroom-skew.mushroom-skew-1
                                .mushroom-skew.mushroom-skew-2
                                .mushroom-skew.mushroom-skew-3
                            .SukiyakiEntry_item.mushroom.mushroom-2
                                .mushroom-skew.mushroom-skew-1
                                .mushroom-skew.mushroom-skew-2
                                .mushroom-skew.mushroom-skew-3
                            .SukiyakiEntry_item.mushroom.mushroom-3
                                .mushroom-skew.mushroom-skew-1
                                .mushroom-skew.mushroom-skew-2
                                .mushroom-skew.mushroom-skew-3
                            .SukiyakiEntry_item.shungiku.shungiku-1
                                .shungiku-skew.shungiku-skew-1
                                .shungiku-skew.shungiku-skew-2
                                .shungiku-skew.shungiku-skew-3
                                .shungiku-skew.shungiku-skew-4
                                .shungiku-skew.shungiku-skew-5
                                .shungiku-skew.shungiku-skew-6
                                .shungiku-skew.shungiku-skew-7
                                .shungiku-skew.shungiku-skew-8
                                .shungiku-skew.shungiku-skew-9
                                .shungiku-skew.shungiku-skew-10
                                .shungiku-skew.shungiku-skew-11
                                .shungiku-skew.shungiku-skew-12
                            .SukiyakiEntry_item.shungiku.shungiku-2
                                .shungiku-skew.shungiku-skew-1
                                .shungiku-skew.shungiku-skew-2
                                .shungiku-skew.shungiku-skew-3
                                .shungiku-skew.shungiku-skew-4
                                .shungiku-skew.shungiku-skew-5
                                .shungiku-skew.shungiku-skew-6
                                .shungiku-skew.shungiku-skew-7
                                .shungiku-skew.shungiku-skew-8
                                .shungiku-skew.shungiku-skew-9
                                .shungiku-skew.shungiku-skew-10
                                .shungiku-skew.shungiku-skew-11
                                .shungiku-skew.shungiku-skew-12
                            .SukiyakiEntry_item.shungiku.shungiku-3
                                .shungiku-skew.shungiku-skew-1
                                .shungiku-skew.shungiku-skew-2
                                .shungiku-skew.shungiku-skew-3
                                .shungiku-skew.shungiku-skew-4
                                .shungiku-skew.shungiku-skew-5
                                .shungiku-skew.shungiku-skew-6
                                .shungiku-skew.shungiku-skew-7
                                .shungiku-skew.shungiku-skew-8
                                .shungiku-skew.shungiku-skew-9
                                .shungiku-skew.shungiku-skew-10
                                .shungiku-skew.shungiku-skew-11
                                .shungiku-skew.shungiku-skew-12
                    .yuge
                .SukiyakiPot_body
                .SukiyakiPot_outside